<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Simple App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js">></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
</head>
<body>
  <h1>My Todo List</h1>

  <div ng-controller='TodosController'>
    <form id="todo-form" ng-submit="addTodo()">
      <input id="new-todo" ng-model="newTodo">
    </form>
    <ul>
      <li ng-repeat="todo in todos">
        {{ todo }}
      </li>
    </ul>
  </div>

</body>
